In [1]:
data=[(12345,"Diksha","Diksha r@nuv.ac.in"),
       (45667,"jiva","jiva@nuv.ac.in"),
       (16789,'Ronit',"Ronitd@nuv.ac.in"),
       (69433,"Heena","Heena@nuv.ac.in")]

def searchbyId(i):
    for tup in data:    
        if tup[0] == i:
            sid =tup[0]
            name= tup[1]
            email =tup[2]
            print(f'Id is {sid} name is {name} email id is {email}')

def searchbyname(a):
    for tup in data:
        if tup[1] == a:
            sid =tup[0]
            name= tup[1]
            email =tup[2]
            print(f'id is {sid} name is {name} email id is {email}')
            
a = (input('Enter name to search :'))    
searchbyname(a)
            
i = int(input("Enter Id to search :"))
searchbyId(i)

Enter name to search :Diksha
id is 12345 name is Diksha email id is Diksha r@nuv.ac.in
Enter Id to search :69433
Id is 69433 name is Heena email id is Heena@nuv.ac.in

In [2]:
Mydict = {"Enrollment id" :[12345,45667,16789,69433],
         "Student Name" :["Diksha","jiva","Ronit","Heena"],
         "Email id":["Diksha r@nuv.ac.in","jiva@nuv.ac.in","Ronitd@nuv.ac.in","Heena@nuv.ac.in"]}
          

def search(value):
    for dc in Mydict:
        #Print(Mydict[dc])
        #print(f'{value} {Mydict[dc]}')
        if value in Mydict[dc]:
            i=Mydict[dc].index(value)
            enrolid= Mydict["Enrollment id"][i]
            sname= Mydict["Student Name"][i]
            emailid= Mydict["Email id"][i]
            print(f"{enrolid:<16}{sname:<15}{emailid:<24}")
            
            
values=int(input("Enter id to search:"))
search(values)
            
values=(input("Enter Name to search:"))
search(values)

Enter id to search:12345
12345           Diksha         Diksha r@nuv.ac.in
Enter Name to search:Diksha
12345           Diksha         Diksha r@nuv.ac.in

In [26]:
data = [(12345, "Diksha", "Diksha r@nuv.ac.in"),
        (45667, "Jiva", "Jiva@nuv.ac.in"),
        (16789, "Ronit", "Ronitd@nuv.ac.in"),
        (69433, "Heena", "Heena@nuv.ac.in")]

Mydict = {"Enroll":[],"Name":[],"Email":[]}
          
for d in data:
    Mydict["Enroll"].append(d[0])
    Mydict["Name"].append(d[1])
    Mydict["Email"].append(d[2])
          
Mydict

{'Enroll': [12345, 45667, 16789, 69433],
 'Name': ['Diksha', 'Jiva', 'Ronit', 'Heena'],
 'Email': ['Diksha r@nuv.ac.in',
  'Jiva@nuv.ac.in',
  'Ronitd@nuv.ac.in',
  'Heena@nuv.ac.in']}

In [38]:
import json 
fw=open("students.Json","w") 
jsndata = json.dumps(Mydict)#dumps converts dictionary to Json 
fw.write(jsndata)

213

In [39]:
import json

def add_student(enrollment_no):
    fw=open("students.Json","a") 
    js=json.dumps(Mydict["Enroll"].append(enrollment_no))
    fw.write(js)


enrol=input("Enter enroll no") 
add_student(enrol)

Enter enroll no1235